.create-card {
    &__content {
        padding-right: 30px;
        padding-bottom: 30px;
    }
    &__border {
        border-radius: 2px;
        box-shadow: 0 0 1px 1px rgb(202, 196, 196);
        cursor: pointer;
    }
    &__img {
        width: 220px;
        height: 120px;
        border-radius: 2px 2px 0 0;
        object-fit: cover;
        background-image: url(https://s.smartsheet.com/b/images/sprites/gallYQURATEZ5OX7UG3DKEXBHPWT3A.2x.png);
        background-position: -10px -1180px;
        background-repeat: no-repeat;
        background-size: 240px 2610px;
    }
    &__name {
        padding: 4px 10px;
    }
}
