#task-list {
    padding: 20px;
    overflow: hidden;
}
.presentation {
    display: flex;
    background-color: #fafafa;
    padding: 10px;
    &__item {
        margin: 0 4px;
        &-link {
            font-size: 16px;
        }
    }
}
.taskList {
    display: flex;
    width: 100%;
    min-height: 95%;
    overflow: auto;
    &__colTitle {
        margin-bottom: 10px;
    }
    &__col {
        padding: 10px;
        padding-bottom: 0;
    }
    &__colContent {
        padding: 10px;
        width: 236px;
        background: rgb(244, 245, 247);
        height: 100%;
    }
}
