.newSidebar {
    width: 250px;
    height: 400px;
    padding: 40px 20px;
    font-size: 12px;
    .sideber-content__link:hover {
        background-color: #d9eafc;
    }
    .sidebar__active > p {
        background-color: #d9eafc;
    }
    &__item {
        padding: 6px 20px;
        display: flex;
        align-items: center;
    }
    &__listItem {
        padding: 0 20px;
    }
    &__divSearch {
        position: relative;
    }
    &__iconSearch {
        position: absolute !important;
    }
    &__solutionContent {
    }
    &__solutionItem {
        padding: 8px 0;
        a {
            display: block;
        }
    }
}
